 <main>

        <div class="comentarios">

        <h2>Nuestros visitante han comentado:</h2>

        <div class="comentario">
            <p>Comentario 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, debitis optio deserunt dolor
            culpa voluptates quisquam vel a incidunt distinctio tenetur, temporibus consequuntur quae, doloribus ipsa
            cupiditate neque enim esse!</p>
        </div>
     
        <div class="comentario">
            <p>Comentario 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, debitis optio deserunt dolor
            culpa voluptates quisquam vel a incidunt distinctio tenetur, temporibus consequuntur quae, doloribus ipsa
            cupiditate neque enim esse!</p>
        </div>  

        <div class="comentario">
            <p>Comentario 3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, debitis optio deserunt dolor
            culpa voluptates quisquam vel a incidunt distinctio tenetur, temporibus consequuntur quae, doloribus ipsa
            cupiditate neque enim esse!</p>
        </div>

        <div class="comentario">
            <p>Comentario 4: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, debitis optio deserunt dolor
            culpa voluptates quisquam vel a incidunt distinctio tenetur, temporibus consequuntur quae, doloribus ipsa
            cupiditate neque enim esse!</p>
        </div>
        <div class="comentario">
            <p>Comentario 5: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, debitis optio deserunt dolor
            culpa voluptates quisquam vel a incidunt distinctio tenetur, temporibus consequuntur quae, doloribus ipsa
            cupiditate neque enim esse!</p>
        </div>

        <div class="comentario">
            <p>Comentario 6: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, debitis optio deserunt dolor
            culpa voluptates quisquam vel a incidunt distinctio tenetur, temporibus consequuntur quae, doloribus ipsa
            cupiditate neque enim esse!</p>
        </div>

        <div class="comentario">
            <p>Comentario 7: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa veritatis corporis et voluptatibus ducimus architecto neque fugit laudantium nulla, deleniti ea voluptate reprehenderit laboriosam voluptatum voluptas iure maxime rerum impedit libero odio molestias quidem ullam? Cum molestiae repellat laborum rem ratione totam quisquam, nisi harum illo hic iste eum fugit?</p>
        </div>

        <div class="formulario_comentarios">

            <h4>Podes dejarnos tu comentario aquí:</h4>

            <form action="" method="">

                <input type="text" placeholder="Nombre: " autofocus="autofocus">

                <textarea name="texto" rows="5" cols="40" placeholder="Comentario: "></textarea>

                <center><input type="submit" value="Enviar"></center>

            </form>

        </div>

        </div>

    </main>