<main>

        <div class="descargar">

            <h1>Las huellas imborrables</h1>

            <h3>Camilla Läckberg</h3>

            <div class="info">

                <img class="izq" src="imagenes/huellas.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos vitae repellat itaque quam amet cumque corrupti at nobis magnam velit provident sapiente qui sint, ipsa aliquam exercitationem cupiditate natus? Necessitatibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt porro voluptatibus recusandae veniam distinctio neque minima, fuga dolor quod aspernatur vero quos totam ab accusamus laboriosam debitis alias optio saepe.1</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consectetur, nisi, architecto, quidem nemo rerum possimus nesciunt porro obcaecati corporis adipisci et repellendus amet modi.2</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum eos exercitationem, alias inventore eius accusamus ex numquam obcaecati incidunt, culpa ratione eveniet quas? Consectetur, fugit magnam quam cupiditate cumque atque eligendi laudantium quia accusantium et, hic sed facilis unde. Dolorum maiores labore repellendus unde nesciunt ullam nam! Omnis nisi dicta odit soluta beatae recusandae? Officia fugiat natus labore illo, sit consequuntur quo corporis dignissimos molestias animi sapiente expedita aliquam perferendis vitae eum.3</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad tempore modi voluptatum eveniet sequi obcaecati magni illum earum, doloremque nobis ut quae minus dolorem assumenda. Ratione, voluptate sapiente, dignissimos vitae inventore sequi doloribus soluta tenetur pariatur harum explicabo, nulla quis aliquid et rem ad? Esse voluptatem perferendis fugit quidem hic quaerat mollitia alias cupiditate tempora minus vero deleniti, corporis id odit. Iste officia nobis quia? Velit aspernatur, minima beatae id aut inventore veritatis incidunt odio distinctio maiores nulla blanditiis consequuntur optio totam alias exercitationem asperiores, libero dignissimos cupiditate delectus eum officiis quas quod facere?..4</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem qui rerum distinctio quam dolores aspernatur amet, rem assumenda earum natus minima nisi, sit laboriosam? Voluptatibus minima sit dolor quod illum sapiente facilis harum quis velit quaerat magni, ipsum, distinctio, rerum maiores id blanditiis iure nisi excepturi hic qui consequatur eum incidunt ipsam! Fugiat enim perferendis ipsum quos similique? Rerum aliquid adipisci ea. Consequuntur incidunt pariatur repellendus laboriosam distinctio repudiandae, autem fugit, delectus doloribus optio aliquam esse nisi, natus aliquid! Cupiditate dolores minima nostrum natus maxime et doloribus, mollitia ex aspernatur eius sit voluptate nihil atque.5</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquid odit ex vel maxime nam possimus maiores eaque provident optio vero, pariatur mollitia ea eligendi delectus repudiandae culpa officiis sit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minima nemo eligendi nisi officia dolorem corrupti, qui asperiores quaerat iusto at excepturi ipsam exercitationem! Necessitatibus minus odit consequuntur aspernatur delectus!</p>
                
                <a class="boton" href="#">Descargar</a>

            </div>

        </div>

    </main>