<main>

        <div class="historias">

            <h1>Historia de la semana</h1>

            <h2>Stieg Larsson</h2>

            <div class="info">

                <p><img class="izq" src="imagenes/stieg_larsson.jpg" alt="Stieg Larsson" style="width: 200px; height: 200px;">(Suecia, 1954-2004) falleció
                inesperada y trágicamente de un ataque al corazón, días después de entregr a su editor el tercer volumen
                de la trilogía Millennium y poco antes de ver publicado el primero. Periodista y reportero de guerra muy
                conocido como experto en los grupos de la extrema derecha antidemocrática, participó a mediados de los
                ochenta en la fundación del proyecto antiviolencia Stop the Racism, al que siguió en 1995 la Expo
                Foundation, de cuya revista Expo fue director. Luchado plenamente comprometido contra todo tipo de
                violencia, escribió varios libros de investigación periodística acerca de los grupos nazis de su país y
                de las oscuras conexiones entre la extrema derecha y el poder político y financiero. Gran lector y
                entusiasta del género negro y la ciencia ficción, escribía sus novela por las noches, prácticamente en
                secreto. Publicada en 50 países y con más de 80 millones de lectores en todo el mundo, la saga
                Millennium se ha convertido en uno de los fenómenos editoriales más importantes de los últimos tiempos.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat non sunt vitae maxime nulla natus
                adipisci sapiente dolorem facilis, corporis repellat eaque animi magnam. Ipsa atque facilis nisi, ipsam
                architecto, quam qui animi porro, asperiores repellat adipisci fugit rem dolores sunt odio facere hic
                eveniet iste quia consequuntur deserunt. Voluptas maxime natus nobis architecto recusandae nemo odio
                incidunt itaque fugiat rem earum quas laborum, vel expedita quae deserunt ipsa in animi saepe numquam
                quia! Laboriosam vero voluptatum blanditiis, suscipit, sed odit quos obcaecati nemo quasi accusantium
                iste neque sequi maxime labore numquam, sapiente soluta aperiam! Non totam aut laudantium sunt sed,
                molestias nesciunt dolorem amet, consequuntur odit ducimus, cum illo iusto praesentium harum debitis
                provident accusantium quae temporibus eligendi perspiciatis facere. Odio neque dignissimos
                necessitatibus, commodi, illo eos ut doloremque veritatis similique sed asperiores praesentium autem aut
                officiis officia error cupiditate natus? Harum dolore voluptatum nostrum? Asperiores corporis aperiam
                eum eligendi dolorem omnis minus, voluptatibus ab recusandae vel error aut enim earum unde, non officiis
                sit voluptatum odit tempora facilis corrupti vero eos distinctio! Porro non aliquam tempore, odio illo
                iusto quibusdam! Ullam asperiores eius a accusamus possimus non sunt, vitae dolores perspiciatis qui
                nulla ad, itaque pariatur quam rem.</p><br>

                <h3>Saga Millennium </h3>

                <p>Comenzó a escribir novelas policíacas por las noches, como diversión, en el año 2001. En un primer
                momento, se planteó, junto con el periodista Kenneth A., de la agencia de noticias TT, escribir una
                historia sobre los personajes Hernández y Fernández, de Las aventuras de Tintín. Más tarde se propuso
                imaginar cómo se desenvolvería en la sociedad actual la célebre Pippi Calzaslargas, creada por la
                escritora sueca Astrid Lindgren. Así creó a uno de los protagonistas de sus ficciones, la investigadora
                Lisbeth Salander. Como contrapunto, creó a otro personaje más equilibrado, el periodista de
                investigación Mikae Blomkvist (cuyo nombre evoca también el de otro personaje de Lindgren, el niño
                detective Kalle Blomkvist). A partir de ahí creó el resto de los personajes de la denominada saga
                Millennium, por el nombre de la revista en que trabaja Blomkvist. En diciembre de 2013 la editorial
                sueca Norstedts contrató al periodista y escritor David Lagercrantz para continuar la saga. Se
                publicaron tres novelas, que no están basadas en los borradores inconclusos de Stieg Larsson: Lo que no
                mata te hace más fuerte (Det som inte dödar oss 2015), El hombre que perseguía su sombra (Mannen som
                sökte sin skugga, 2017) y La chica que vivió dos veces (Hon som måste dö, 2019).
                </p>

            <div class="galeria_libros" >

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/m1.jpg" alt="Los hombres que no amaban a las mujeres">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Los hombres que no amaban a las mujeres</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolore voluptates
                                    unde, iste mollitia repellat. Pariatur esse error, veritatis libero quo est nobis
                                    quas soluta quae iusto laudantium ut nihil?</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/m2.jpg" alt="La chica que soñaba con una cerilla y un bidón de gasolina">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>La chica que soñaba con una cerilla y un bidón de gasolina</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolore voluptates
                                    unde, iste mollitia repellat. Pariatur esse error, veritatis libero quo est nobis
                                    quas soluta quae iusto laudantium ut nihil?</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/m3.jpg" alt="La reina en el palacio de las corrientes de aire">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>La reina en el palacio de las corrientes de aire</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolore voluptates
                                    unde, iste mollitia repellat. Pariatur esse error, veritatis libero quo est nobis
                                    quas soluta quae iusto laudantium ut nihil?</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>
         
                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/m4.jpg" alt="Lo que no te mata te hace más fuerte">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Lo que no te mata te hace más fuerte</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolore voluptates
                                    unde, iste mollitia repellat. Pariatur esse error, veritatis libero quo est nobis
                                    quas soluta quae iusto laudantium ut nihil?</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/m5.jpg" alt="El hombre que perseguía su sombra">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El hombre que perseguía su sombra</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolore voluptates
                                    unde, iste mollitia repellat. Pariatur esse error, veritatis libero quo est nobis
                                    quas soluta quae iusto laudantium ut nihil?</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/m6.jpg" alt="La chica que vivió dos veces">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>La chica que vivió dos veces</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolore voluptates
                                    unde, iste mollitia repellat. Pariatur esse error, veritatis libero quo est nobis
                                    quas soluta quae iusto laudantium ut nihil?</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div> 

        </div>

    </main>