<main>
        <div class="inicio">
            <div class="presentacion">
                <h1>Podes encontrar...</h1>
                <div class="info">
                    <p></p>
                </div>
            </div>

            <div class="novedades">
                <h2>Novedades</h2>
                <div class="imagen">
                    <img src="imagenes/novedades.jpg" alt="">
                </div>
                <div class="info_nov">
                    <p class="ultimo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur in
                        cupiditate, quibusdam sapiente tenetur maxime autem sunt dignissimos necessitatibus voluptatum
                        error quod voluptate facilis, natus hic placeat iste suscipit deserunt?</p>
                    <a class="boton" href="#">Seguir leyendo...</a>
                </div>
            </div>

            <div class="concurso">
                <h2>Concurso literario</h2>
                <div class="info">
                    <img class="der" src="imagenes/concurso.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint obcaecati voluptatum quia
                        officiis ab totam architecto id excepturi sit, maiores, at ratione autem laudantium natus
                        pariatur, iure incidunt itaque?.1</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque exercitationem numquam quam
                        debitis praesentium earum minus accusamus odit illo iusto enim fugiat architecto perferendis,
                        eum, laudantium sunt explicabo et voluptates rerum maxime! Aliquid sequi optio quia autem ullam
                        eum quae ipsa consequuntur recusandae consectetur quaerat distinctio atque ipsum animi quibusdam
                        vel harum qui iusto, eius voluptas nemo? Officia, facilis porro?2</p>
                    <p class="ultimo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque possimus provident
                        quos assumenda adipisci tempore quas deserunt fugiat molestiae nam, cumque sequi est sint odit
                        ipsa fugit hic beatae tempora quia voluptatibus omnis unde deleniti voluptates? Animi culpa
                        blanditiis ipsam perferendis perspiciatis iusto repellat. Nemo ipsum numquam minima hic natus
                        quasi neque accusantium, molestiae dicta ea nihil necessitatibus pariatur harum beatae, vero
                        odit laboriosam atque aut. Atque soluta temporibus adipisci optio. Tempora beatae molestiae
                        ullam incidunt doloribus sed consequuntur sunt earum illum corporis ex iure nobis magnam odio,
                        at architecto qui debitis id? Magni delectus impedit, eius expedita quibusdam consequuntur
                        voluptate aut fugit rerum at! Non possimus dolor doloremque, sint eos pariatur corrupti expedita
                        eius nisi aliquid obcaecati distinctio numquam? ULTIMO</p>
                </div>
                <a class="boton" href="#">Seguir leyendo...</a>
            </div>

            <div class="libro_mes">
                <h2>Libro del mes</h2>
                <div class="libroY">
                    <img src="imagenes/el_manuscrito.jpg" alt="El manuscrito">
                    <!--<h1  class="titulo">El manuscrito</h1>-->
                </div>

                <!--<div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <h1>libro del mes</h1>
                        </div>
                        <div class="atras">
                            <img src="imagenes/el_manuscrito.jpg" alt="El manuscrito"></div> 
                    </div>
                </div>-->

                <div class="info">
                    <h3>El Manuscrito</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus minima ex aliquam ullam tenetur
                        consequuntur hic excepturi unde suscipit provident nisi, ea recusandae repellendus.1</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione illo unde placeat iste magnam
                        dicta.2</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ratione libero voluptatem
                        nesciunt possimus quo consequatur. Eveniet maiores quidem maxime dolorum minus ut neque
                        voluptates, esse vitae nam et. Voluptate?3</p>
                    <p class="ultimo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nemo expedita
                        officia doloremque similique vel, voluptatem voluptate velit minima molestias alias quibusdam, a
                        voluptas. Odio, soluta repellat. Deleniti velit provident obcaecati neque perspiciatis fugiat.
                        Nulla blanditiis odit repellendus. Ad vel accusamus similique accusantium quisquam voluptates
                        animi ipsam omnis suscipit libero id ex, maiores molestiae veniam, placeat debitis! Commodi
                        rerum natus, dolore numquam tenetur iste ea doloribus tempora dignissimos quisquam, deleniti
                        iure autem delectus cupiditate aperiam, minima distinctio totam illum nesciunt asperiores
                        voluptates veniam excepturi. Voluptatem beatae autem dolorem! Placeat esse voluptate quo,
                        debitis repudiandae perspiciatis veniam sequi optio vel delectus illo, ipsa deleniti expedita
                        eaque. Nam veritatis est consequuntur natus deserunt perferendis illo obcaecati cumque sequi,
                        neque eum error dignissimos!ULTIMO</p>
                </div>
                <a class="boton" href="descargar.html">Seguir leyendo...</a>
            </div>

            <div class="entrevista">
                <h2>Entrevistas, hoy...</h2>
                <h3>Diane Wei Liang</h3>
                <div class="info">
                    <img class="izq" src="imagenes/diane_wei_liang.jpg" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam dolores eligendi nobis sed vero,
                        est, beatae debitis, repellat sunt recusandae quos! Ea quod cum id? Illum sint, dolorum minima
                        reprehenderit itaque voluptatibus veritatis laboriosam veniam? Aliquam necessitatibus amet
                        velit, accusamus nisi enim labore fugiat error! Error, labore, nesciunt corporis iste vitae
                        laudantium, quidem nulla corrupti voluptas odit voluptatibus pariatur..1</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci natus harum
                        corrupti, placeat at porro beatae sed. Sint deserunt quibusdam tempore aliquam maiores quas,
                        quod facilis natus accusantium. Adipisci commodi dolor, impedit ducimus animi voluptatem earum
                        modi perferendis, facilis, dicta reiciendis. Quis beatae minus explicabo. Dicta aliquam quo est
                        molestias natus! Inventore nobis beatae voluptatibus quod ducimus rerum sit architecto, ex natus
                        ratione quasi tenetur asperiores voluptatum enim odio, culpa consequuntur recusandae dolor nemo
                        aperiam cumque adipisci. Voluptatem delectus iure voluptate corrupti, doloribus dolor aliquam ex
                        suscipit repellendus numquam ad impedit accusamus. error eligendi eum. Esse laborum deserunt sed
                        accusamus voluptatem reiciendis libero fuga obcaecati officiis ipsa placeat tempore at nam,
                        magnam neque laboriosam ab consequuntur nisi ex nesciunt doloribus aut consectetur. Quae,
                        sapiente!.2</p>
                    <p class="ultimo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum praesentium
                        exercitationem enim, id molestias ullam labore sapiente, nostrum cum expedita odit iure soluta
                        esse ea maxime repudiandae quae! Quo enim laudantium fuga quae nisi eum consequuntur sequi
                        pariatur aperiam autem, repellendus nihil voluptatum animi quidem modi non officiis. Nostrum
                        amet repellat laboriosam molestias qui consectetur autem? Ut iure ex dolores eius, consequatur
                        error explicabo, fuga amet officiis perspiciatis commodi sunt reiciendis, facilis dignissimos
                        cupiditate eaque labore sint in. Modi atque optio corrupti illo maiores, in eius ipsam similique
                        fugiat debitis veritatis voluptas sunt laborum quae dolores odio. Vitae rerum ratione eum
                        delectus ex veritatis quas placeat laudantium ab fuga ut totam, temporibus provident
                        necessitatibus alias aliquam omnis, aperiam enim eligendi..ULTIMO</p>
                </div>
                <a class="boton" href="#">Seguir leyendo...</a>
            </div>

            <div class="informacion">
                <div class="direccion">
                    <h4>Estamos en:</h4>
                    <p>Direción:Carlos H. Rodriguez 390</p>
                    <p>Teléfono: 299-4484513</p>
                </div>
                <div class="horario">
                    <h4>Nuestro horario:</h4>
                    <p>Lunes a viernes: 09:00hs. a 17:00hs.</p>
                    <p>Sábados: 09:00hs. a 13:00hs.</p>
                </div>

                <div class="redes">

                    <h4>También nos encontras en:</h4>

                    <ul>
                        <li><a href="#"><img src="imagenes/face.png"></a></li>
                        <li><a href="#"><img src="imagenes/twitter.png"></a></li>
                        <li><a href="#"><img src="imagenes/instagram.jpg"></a></li>
                        <li><a href="#"><img src="imagenes/youtube.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>