
<main>

        <div class="galeria_libros">

            <div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/secretos-al-alba.jpg" alt="Secretos al alba">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Secretos al alba</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolore voluptates
                                    unde, iste mollitia repellat. Pariatur esse error, veritatis libero quo est nobis
                                    quas soluta quae iusto laudantium ut nihil?</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/el año.jpg" alt="El año del delfin">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El año del delfin</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/1q84.jpg" alt="1Q84">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>1Q84</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/las hijas.jpg" alt="Las hijas del capitan">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Las hijas del capitan</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/muñeco.jpg" alt="El muñeco de nieve">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El muñeco de nieve</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/el jaque.jpg" alt="El jaque al psicoanalista">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El jaque al psicoanalista</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--<div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/voz_furia.jpg" alt="La voz y la furia">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>La voz y la furia</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar"">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/la_bailarina.jpg" alt="La bailarina de Auschwitz">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>La bailarina de Auschwitz</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/las_almas.jpg" alt="Las almas">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Las almas</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

            <div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/mujeres-que-no-perdonan.jpg" alt=">Mujeres que no perdonan">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Mujeres que no perdonan</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/el_dia.jpg" alt="El dia que se perdio la cordura">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El dia que se perdio la cordura</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/aquitanias.jpg" alt="Aquitania">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Aquitania</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/el_palacio.jpg" alt="El palacio de la medianoche">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El palacio de la medianoche</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/el ojo.jpg" alt="El ojo de jade">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El ojo de jade</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/el_largo.jpg" alt="El largo camino a casa">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>El largo camino a casa</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/huellas.jpg" alt="Las huellas imborrables">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Las huellas imborrables</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton"href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/la_magia_del_orden.jpg" alt="La magia del orden">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>La magia del orden</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href=href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <img src="imagenes/aurora.jpg" alt="Aurora boreal">
                        </div>
                        <div class="atras">
                            <div class="argumento">
                                <h1>Aurora boreal</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque
                                    corporis necessitatibus et. Iste, voluptatem!</p>
                                <a class="boton" href="/descargar">Seguir leyendo...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>    

        </div><!-- fin galeria-->

    </main>